header {
    display: flex;
    height: 100px;
    background-color:rgb(146, 146, 146);
    align-content: space-between;
}

footer {
    display: flex;
    align-items: flex-end;
    height: 100px;
    background-color: rgb(146, 146, 146);
}

#chats {
    display: flex;
    align-content: space-between;
}

.chat {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

#login {
    display: flex;
}

.logo {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: rgb(241, 15, 15);
    align-items: center;
}

#contenu {
    height: 745px;
    width: 1349px;
}

.image{
    margin: 5px;
}


